{% extends "_layout.html" %}

{% block head %}
<script>
function onFailure(evt){
    alert('Impossible de lire la vidéo');
}
</script>
{% endblock head %}

{% block menu %}
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Vidéos {% if video %}/ {{video.category_title}} / {{video.title}}{% endif %}</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="{{url_for('browse_videos')}}">Retour à la liste des vidéos</a>
            </nav>
        </div>
    </header>
</div>
{% endblock menu %}

{% block content %}
{% if video %}
<video 
    style="max-width: 100%"
    src="{{video.absolute_url}}" 
    type='video/x-matroska; codecs="theora, vorbis"' 
    autoplay 
    controls 
    onerror="onFailure(event)"
></video>
{% else %}
<header>
    <h2>Vidéo non trouvée</h2>
    <a href="{{url_for('browse_videos')}}">Retour à la liste des vidéos</a>
    <br><br>
</header>
<p>
    Impossible de charger la vidéo depuis le serveur.<br>
    Vérifie l'URL ou réessaye plus tard...
</p>
{% endif %}
<br><br>
<a href="{{url_for('browse_videos')}}">Retour à la liste des vidéos</a>
{% endblock content %}